.search-page-pro {
  background-image: url('../assets/about.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  user-select: none;
}

.search-bar-pro-container-top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60%;
  max-width: 1500px;
  z-index: 1000;
  align-items: center;
  gap: 10px;
}

.search-page-pro-header {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  z-index: 1001;
}

.search-input-pro-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-input-pro {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2em;
  width: 100%;
  outline: none;
  text-align: left;
  resize: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: height 0.2s ease-out;
  flex-grow: 1;
}

.search-input-pro::placeholder {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

.search-button-pro {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.8em;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
  transform: rotate(-45deg);
}

.search-button-pro:hover {
  color: lightgray;
}

.enter-button-pro {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 18px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  transition: background-color 0.3s ease;
}

.enter-button-pro:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 1200px) {
  .search-bar-pro-container-top-left {
    width: 49%;
  }
}
