.search-page {
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    padding-top: 20px;

}

.search-options1 {
    width: 50%;
    margin-left: 20px;
    background-color: #353434;
}

@media (max-width: 768px) {
    .search-options1 {
        width: 60%;
    }
}

.search-input-area {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
    background-color: #353434;
    transition: height 0.05s ease-in-out;
    max-height: 20vh;
}

.input-with-search {
    border: none;
    outline: none;
    letter-spacing: -0.8px;
    flex-grow: 1;
    margin-right: 10px;
    background-color: #353434;
    color: white;
    box-sizing: border-box;
    min-height: 24px;
    max-height: 20vh;
    overflow-y: auto;
    resize: none;
    transition: height 0.05s ease-in-out;
}

.search-control-panel {
    display: flex;
    gap: 10px;
}

.search-options,
.search-options-rules {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.input-with-search::placeholder {
    color: white;
}

.search-button:hover {
    background-color: #555;
}

.input-with-search::-webkit-scrollbar{
    display: none;
}

.btn1 {
    margin-left: 10px;
}

.open-options-block-in-serach {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
}

.open-options-window {
    background-color: #353434;
    border-radius: 20px;
    user-select: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.li-options {
    color: white;
}

.option {
    display: inline-block;
    width: auto;
    color: white;
    padding: 3px;
    border-radius: 5px;
    text-align: left;
}

.option:hover {
    cursor: pointer;
    background-color: white;
    color: #353434;
}

@media (max-width: 768px) {
    .search-input {
        width: 60%;
    }
}

.enter-button-page {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #353434;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

